/* You can add global styles to this file, and also import other style files */
ul.collection.no-border {
  border: none;
}
li.collection-item.no-border {
  border: none;
}

/* Page Loader ================================= */
.page-loader-wrapper {
  opacity: 1;
  z-index: 999999999;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #eeeeee80;
  overflow: hidden;
  text-align: center;
}

.page-loader-wrapper p {
  font-size: 13px;
  margin-top: 10px;
  font-weight: bold;
  /*color: #444; */
}

.page-loader-wrapper .loader {
  position: relative;
  top: calc(50% - 30px);
}

/* 500 Server Error Page ======================= */
.five-zero-zero {
  width: 100%;
  text-align: center;
  margin: 5% auto;
}

.five-zero-zero .five-zero-zero-container .error-code {
  font-size: 160px;
}

.five-zero-zero .five-zero-zero-container .error-message {
  font-size: 27px;
  color: #333;
  font-weight: bold;
  margin-top: -40px;
}

.five-zero-zero .five-zero-zero-container .button-place {
  margin-top: 32px;
}
